@font-face {
     font-family: 'S-CoreDream-4Regular';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-6Bold';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

*{margin: 0;padding: 0;font-family: 'S-CoreDream-4Regular'}
ul{list-style: none;}
a{color:#555;text-decoration: none;}

html, body{
    width: 100%;
    height: 100%;
    
}
.go{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    /*중앙정렬*/
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}
.go li{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.go li a{
    width: 160px;
    height: 160px;
    color: #222;
    background-color:#fff;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 0, 101, 102, 0.15 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.go .pdf{
    background-color: #eff8f7;
}
.go .web{
    background-color: #c7efee;
}
.go li a span{
    font-size: 50px;
    color: #006566;
}
.go li a p{
    line-height: 50px;
    color: #006566;

}




@media all and (max-width: 768px) {
.go{
    display: block;
}
.go li{
    height: 50%;
    flex-direction:column;
}
    
}

